extends ../layout

block content
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel.panel-heading
          h4 Sign in
        .panel.panel-body
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label(for='email') Email
              input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
            .form-group
              label.control-label(for='password') Password
              input.form-control(type='password', name='password', id='password', placeholder='Password')
            .form-group
              button.btn.btn-default(type='submit')
                i.fa.fa-user
                | Login
              .form-groupe
              a.btn.btn-link(href='/forgot') Forgot your password?
        .panel.panel-footer
          h4 Or connect with...
          p
            a(href='/auth/facebook')
              i.fa.fa-facebook
            a(href='/auth/twitter')
              i.fa.fa-twitter
            a(href='/auth/google')
              i.fa.fa-google-plus
            a(href='/auth/instagram')
              i.fa.fa-instagram
