if user
  .modal.fade(id="wantModal", tabindex="-1",role="dialog",aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal",aria-hidden="true")
          |New Want
        .modal-body
          form.form.center-block(action='/#{user._id}/addWant', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input.form-control(type='text', name='name', id='name', placeholder="What do you want?")
              input.form-control(type='text', name='url', id='url', placeholder="Add a link...")
              textarea.form-control(type='text', name='description', id='description', placeholder="Add a description...")
            .form-group
                button.btn.btn-default(type='submit', aria-hidden='true')
                  i.fa.fa-plus
                  | Add want