footer

.row
	.col-sm-6
		a(href="#") Twitter
		small.text-muted |
		a(href="#") Facebook
		small.text-muted |
		a(href="#") Google+
.row(id="footer")
	.col-sm-6
	.col-sm-6
		p
			a.pull-right(href="#") ©Copyright 2013
		hr
		h4.text-center
			a(href="http://bootply.com/96266",target="ext") Download this Template @Bootply
		hr