footer

.row
	.col-sm-10
		p.pull-left © 2015 what-i-want, Inc. All Rights Reserved
		ul.pull-right.list-inline
			li
				a(href='https://github.com/smendou/what-i-want') GitHub Project
			li
				a(href='https://github.com/smendou/what-i-want/issues') Issues