if user
    ul.nav
        li
            a.visible-xs.text-center(href="#",data-toggle="offcanvas")
                i.fa.fa-chevron-right
                   
    ul.nav.hidden-xs(id="lg-menu")
        li.active
            a(href="#featured")
                i.fa.fa-list-alt
                | Featured
        li
            a(href="#stories")
                i.fa.fa-list
                | Stories
        li
            a(href="#")
                i.fa.fa-paperclip
                | Saved
        li
            a(href="#")
                i.fa.fa-refresh
                | Refresh
    ul.list-unstyled.hidden-xs(id="sidebar-footer")
        li
            a(href="#")
                h3 Bootstrap
                i.fa.fa-heart-empty
                | Bootply
    ul.nav.visible-xs(id="xs-menu")
        li.active
            a.text-center(href="#featured")
                i.fa.fa-list-alt
        li
            a.text-center(href="#stories")
                i.fa.fa-list
        li
            a.text-center(href="#")
                i.fa.fa-paperclip
        li
            a.text-center(href="#")
                i.fa.fa-refresh