extends layout

block content
	.page-header
		h3 Find Friends
	form.form-horizontal(id='searchfriends-form', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label.col-sm-3.control-label(for='friend') Name
			.col-sm-7
				input.form-control(name='name', id='name', placeholder='Name', autofocus)
		.form-group
			.col-sm-offset-3.col-sm-7
				button.btn.btn-success(type='submit')
					i.fa.fa-search
					| Find!
	for friend in friends
		div.col-sm-6.col-md-4
			div.thumbnail
				if friend.profile.picture
					img(src='#{friend.profile.picture}')
				else
					img(src='#{friend.gravatar(100)}')
				div.caption
					h3 #{friend.profile.name || friend.email || friend.id}