extends layout

block content
  div.jumbotron
    h1 What I Want
    p.lead Let people know what you want.
    p.lead Find out what they want.
    a.btn.btn-primary(href='/login/')
      i.fa.fa-user
      | Login
    &nbsp;&nbsp;
    a.btn.btn-success(href='/signup/')
      i.fa.fa-user-plus
      | Signup
    p.huge 
      i.fa.fa-gift