doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - What I Want
    != css('main')
  body
    if !user
      .wrapper
        .box
          .row.row-offcanvas.row-offcanvas-left
            .column.col-sm-12.col-xs-12(id="main")
              include partials/navtop
              .padding
                .full.col-sm-11
                    include partials/flash
                    block content
                    include partials/footer
    else
      .wrapper
        .box
          .row.row-offcanvas.row-offcanvas-left
            .column.col-sm-2.col-xs-1.sidebar-offcanvas(id='sidebar')
              include partials/sidebar
            .column.col-sm-10.col-xs-10(id="main")
              include partials/navtop
              .padding
                .full.col-sm-9
                    include partials/flash
                    block content
                    include partials/footer
    include partials/addwantmodal

    != js('application')