extends layout

block content
	.page-header
		h3 Your wants
	.row
		for want in wants
			.col-sm-5
				.panel.panel-default
					.panel-thumbnail
						img.img-responsive(src='#{user.gravatar(70)}')
					.panel-body
						p.lead #{want.name}