extends layout

block content
.row
	for want in wants
		.col-sm-5
			.panel.panel-default
				.panel-thumbnail
					img.img-responsive(src="#{user.gravatar(70)}")
				.panel-body
					p.lead #{want.name}
					p 45 Followers, 13 Posts
					p
						img(src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28",width="28px",height="28px")