extends layout

block content
	.page-header
		h3 People
	.row
		for usr in usrs
			.col-sm-4.col-md-2
				.thumbnail
					if usr.profile.picture
						img(src='#{usr.profile.picture}')
					else
						img(src='#{usr.gravatar(70)}')
					.caption
						h5 #{usr.profile.name || usr.email || usr.id}
						a.btn.btn-primary(href='/search/addfriend/#{usr.id}')
							|Request