extends layout

block content
	.row
		.col-sm-5
			.panel.panel-default
				.panel-thumbnail
					img.img-responsive(src="/assets/example/bg_5.jpg")
				.panel-body
					p.lead Urbanization
					p 45 Followers, 13 Posts
					p
						img(src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28",width="28px",height="28px")
			.panel.panel-default
				.panel-heading
					a.pull-right(href="#") View all
					h4 Bootstrap Examples
				.panel-body
					.list-group
						a.list-group-item(href="http://bootply.com/tagged/modal") Modal / Dialog
						a.list-group-item(href="http://bootply.com/tagged/modal") Modal / Dialog
						a.list-group-item(href="http://bootply.com/tagged/modal") Modal / Dialog
			.well
				form.form-horizontal
					h4 What's New
					.form-group(style="padding:14px;")
						textarea.form-control(placeholder="Update your status")
						button.btn.btn-primary.pull-right(type="button") Post
						ul.list-inline
							li
								a(href="#")
									i.fa.fa-upload
							li
								a(href="")
									i.fa.fa-camera
							li
								a(href="")
									i.fa.fa-map-marker
			.panel.panel-default
				.panel-heading
					a.pull-right(href="#") View all
					h4 More Templates
				.panel-body
					img.img-circle.pull-right(src="//placehold.it/150x150")
					a(href="#") Free @Bootply
					.clearfix There a load of new free Bootstrap 3 ready templates at Bootply. All of these templates are free and don't require extensive customization to the Bootstrap baseline.
					hr
					ul.list-unstyled
						li
							a(href="http://www.bootply.com/templates") Dashboard
						li
							a(href="http://www.bootply.com/templates") Darkside
						li
							a(href="http://www.bootply.com/templates") Greenfield
			.panel.panel-default
				.panel-heading
					h4 What Is Bootstrap?
				.panel-body Bootstrap is front end frameworkto build custom web applications that are fast, responsive &amp; intuitive. It consist of CSS and HTML for typography, forms, buttons, tables, grids, and navigation along with custom-built jQuery plug-ins and support for responsive layouts. With dozens of reusable components for navigation, pagination, labels, alerts etc..
		.col-sm-7
			.well
				form.form
					h4 Sign-up
					.input-group.text-center
						input.form-control.input-lg(type="text", placeholder="Enter your email address")
						span.input-group-btn
							button.btn.btn-lg.btn-primary(type="button") OK
			.panel.panel-default
				.panel-heading
					a.pull-right(href="#") View all
					h4 Bootply Editor &amp; Code Library
				.panel-body
					p
						img.img-circle.pull-right(src="//placehold.it/150x150")
						a(href="#") The Bootstrap Playground
					.clearfix
					hr
					| Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.
			.panel.panel-default
				.panel-heading
					a.pull-right(href="#") View all
					h4 Stackoverflow
				.panel-body
					img.img-circle.pull-right(src="//placehold.it/150x150")
					a(href="#") Keyword: Bootstrap
					.clearfix
					hr
					p If you're looking for help with Bootstrap code, the twitter-bootstrap tag at 
						a(href="http://stackoverflow.com/questions/tagged/twitter-bootstrap") Stackoverflow
					| is a good place to find answers.
					hr
					form
						.input-group
							.input-group-btn
								button.btn.btn-default
									|+1
								button.btn.btn-default
									i.fa.fa-share
							input.form-control(type="text",class="",placeholder="Add a comment..")
			.panel.panel-default
				.panel-heading
					a.pull-right(href="#") View all
					h4 Portlet Heading
				.panel-body
					ul.list-group
						li.list-group-item Modals
						li.list-group-item Sliders / Carousel
						li.list-group-item Thumbnails
			.panel.panel-default
				.panel-thumbnail
					img.img-responsive(src="/assets/example/bg_4.jpg")
				.panel-body
					p.lead Social Good
					p 1,200 Followers, 83 Posts
					p
						img(src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg",width="28px",height="28px")
						img(src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg",width="28px",height="28px")
						img(src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg",width="28px",height="28px")