@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
//@import "vendor/bootstrap-social";
//@import "themes/modern";



// Navbar
// -------------------------



// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
  text-align: center;
  overflow: hidden;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.huge {
  font-size: 150px;
}

